<div class="max-w-full overflow-x-auto">

    <div class="hidden md:grid grid-cols-5 gap-4 px-4 py-7 font-medium text-sm md:text-base">
        <div>Basic info</div>
        <div>Phone number</div>
        <div>Source</div>
        <div>Contact Attributes</div>
        <div>Edit/Delete</div>
    </div>

    <hr class="border-gray-200">

    <div *ngIf="loading$ | async" class="p-4 text-center">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-gray-900 mx-auto"></div>
        <p class="mt-2">Loading...</p>
    </div>

    <ng-container *ngIf="!(loading$ | async) && (contacts$ | async) as contacts">

        <div *ngFor="let contact of contacts"
            class="hidden md:grid grid-cols-5 gap-4 px-4 py-4 items-center text-sm md:text-base">
            <div class="overflow-hidden text-ellipsis">{{ contact.name }}</div>
            <div>({{ contact.country_code }}){{ contact.phone_number }}</div>
            <div>
                <button class="bg-gray-200 px-3 py-1 rounded-md text-xs md:px-4 md:py-2 md:text-sm">WhatsApp</button>
            </div>
            <div class="text-gray-500">
                {{ contact.attribute_links[0]?.value || '-' }}
            </div>
            <div class="flex gap-2">

                <button class="p-1 hover:bg-gray-100 rounded-full" (click)="editContact(contact)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <g clip-path="url(#clip0_381_1977)">
                            <path
                                d="M7.33333 2.66675H2.66666C2.31304 2.66675 1.9739 2.80722 1.72385 3.05727C1.4738 3.30732 1.33333 3.64646 1.33333 4.00008V13.3334C1.33333 13.687 1.4738 14.0262 1.72385 14.2762C1.9739 14.5263 2.31304 14.6667 2.66666 14.6667H12C12.3536 14.6667 12.6928 14.5263 12.9428 14.2762C13.1929 14.0262 13.3333 13.687 13.3333 13.3334V8.66675"
                                stroke="#848A86" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12.3333 1.66666C12.5985 1.40144 12.9583 1.25244 13.3333 1.25244C13.7084 1.25244 14.0681 1.40144 14.3333 1.66666C14.5985 1.93187 14.7475 2.29158 14.7475 2.66666C14.74753.04173 14.5985 3.40144 14.3333 3.66666L8 9.99999L5.33333 10.6667L5.99999 7.99999L12.3333 1.66666Z"
                                stroke="#848A86" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                    </svg>
                </button>

                <button (click)="deleteOpenDialog( contact.id)" class="p-1 hover:bg-gray-100 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                            d="M1.59998 3.59995L14.4 3.59995M11.2 14.8H4.79998C3.91632 14.8 3.19998 14.0836 3.19998 13.2V4.39995C3.19998 3.95812 3.55815 3.59995 3.99998 3.59995H12C12.4418 3.59995 12.8 3.95812 12.8 4.39995V13.2C12.8 14.0836 12.0836 14.8 11.2 14.8ZM6.39998 3.59995H9.59998C10.0418 3.59995 10.4 3.24178 10.4 2.79995V1.99995C10.4 1.55812 10.0418 1.19995 9.59998 1.19995H6.39998C5.95815 1.19995 5.59998 1.55812 5.59998 1.99995V2.79995C5.59998 3.24178 5.95815 3.59995 6.39998 3.59995Z"
                            stroke="#848A86" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
        </div>

        <div *ngFor="let contact of contacts" class="md:hidden">
            <div class="border-b border-gray-200">
                <div class="flex justify-between items-center px-4 py-4" (click)="toggleExpanded()">
                    <div class="flex flex-col">
                        <div class="font-medium text-sm">{{ contact.name }}</div>
                        <div class="text-gray-600 text-sm">({{ contact.country_code }}){{ contact.phone_number }}</div>
                    </div>
                    <button class="p-2 transform transition-transform duration-200" [class.rotate-180]="isExpanded">
                        <svg class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>
                </div>

                <div *ngIf="isExpanded" class="px-4 pb-4 space-y-4">
                    <div class="flex justify-between items-center">
                        <span class="text-gray-500 text-sm">Source</span>
                        <button class="bg-gray-200 px-3 py-1 rounded-md text-xs">WhatsApp</button>
                    </div>

                    <div class="flex justify-between items-center">
                        <span class="text-gray-500 text-sm">Attributes</span>
                        <span class="text-gray-500 text-sm">{{ contact.attribute_links[0]?.value || '-' }}</span>
                    </div>

                    <div class="flex justify-between items-center">
                        <span class="text-gray-500 text-sm">Actions</span>
                        <div class="flex gap-2">

                            <button class="p-1 hover:bg-gray-100 rounded-full" (click)="editContact(contact)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                    fill="none">
                                    <g clip-path="url(#clip0_381_1977)">
                                        <path
                                            d="M7.33333 2.66675H2.66666C2.31304 2.66675 1.9739 2.80722 1.72385 3.05727C1.4738 3.30732 1.33333 3.64646 1.33333 4.00008V13.3334C1.33333 13.687 1.4738 14.0262 1.72385 14.2762C1.9739 14.5263 2.31304 14.6667 2.66666 14.6667H12C12.3536 14.6667 12.6928 14.5263 12.9428 14.2762C13.1929 14.0262 13.3333 13.687 13.3333 13.3334V8.66675"
                                            stroke="#848A86" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M12.3333 1.66666C12.5985 1.40144 12.9583 1.25244 13.3333 1.25244C13.7084 1.25244 14.0681 1.40144 14.3333 1.66666C14.5985 1.93187 14.7475 2.29158 14.7475 2.66666C14.74753.04173 14.5985 3.40144 14.3333 3.66666L8 9.99999L5.33333 10.6667L5.99999 7.99999L12.3333 1.66666Z"
                                            stroke="#848A86" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </svg>
                            </button>

                            <button (click)="deleteOpenDialog(contact.id)" class="p-1 hover:bg-gray-100 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                    fill="none">
                                    <path
                                        d="M1.59998 3.59995L14.4 3.59995M11.2 14.8H4.79998C3.91632 14.8 3.19998 14.0836 3.19998 13.2V4.39995C3.19998 3.95812 3.55815 3.59995 3.99998 3.59995H12C12.4418 3.59995 12.8 3.95812 12.8 4.39995V13.2C12.8 14.0836 12.0836 14.8 11.2 14.8ZM6.39998 3.59995H9.59998C10.0418 3.59995 10.4 3.24178 10.4 2.79995V1.99995C10.4 1.55812 10.0418 1.19995 9.59998 1.19995H6.39998C5.95815 1.19995 5.59998 1.55812 5.59998 1.99995V2.79995C5.59998 3.24178 5.95815 3.59995 6.39998 3.59995Z"
                                        stroke="#848A86" stroke-linecap="round" />
                                </svg>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>

@if (deleteDialog) {
<app-confirm-dialog [header]="'Delete Contact'" [message]="'Are you sure you want to delete this contact?'"
    [confirmText]="'Delete'" [cancelText]="'Cancel'" [dialogStyle]="'danger'" (confirmed)="deleteContact( )"
    (cancelled)=" deleteCloseDialog()">
    >
</app-confirm-dialog>
}