<button [class]="customClasses" [disabled]="isLoading || disabled"
    class="flex justify-center items-center rounded px-4 py-2 transition-transform transform hover:scale-105">
    <span *ngIf="isLoading" class="animate-spin mr-2">
        <svg aria-hidden="true" class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
        </svg>
    </span>
    <span *ngIf="!isLoading">{{ buttonText }}</span>
</button>