.scroll-style::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scroll-style::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}
