<!-- <div class="flex flex-col h-screen bg-white border border-gray-200 shadow-sm overflow-hidden">
  <app-chat-list-header></app-chat-list-header>

  <div class="overflow-y-auto flex-1">
    <ng-container *ngIf="conversations$ | async as convs; else loading">
      <app-chat-list-contact
        *ngFor="let conv of convs"
        [conversation]="conv"
        [selectedConversationId]="selectedConversationId"
        (select)="onSelectConversation($event)"
        class="hover:bg-gray-50 transition-colors duration-200">
      </app-chat-list-contact>
    </ng-container>
    <ng-template #loading>
      <div class="p-4 text-center text-gray-500">Loading conversations…</div>
    </ng-template>
  </div>
</div> -->
<!-- ChatListComponent -->
<div class="flex flex-col h-screen bg-[#F5F6FF] border border-[#EEF0FF] shadow-md overflow-hidden">
  <app-chat-list-header></app-chat-list-header>
  <div class="overflow-y-auto flex-1 bg-white">
    <ng-container *ngIf="conversations$ | async as convs; else loading">
      <app-chat-list-contact
        *ngFor="let conv of convs"
        [conversation]="conv"
        [selectedConversationId]="selectedConversationId"
        (select)="onSelectConversation($event)"
        class="hover:bg-[#F5F6FF] transition-colors duration-200">
      </app-chat-list-contact>
    </ng-container>
    <ng-template #loading>
      <div class="p-4 text-center text-[#4A5BD1]">Loading conversations…</div>
    </ng-template>
  </div>
</div>