<div class="flex flex-col top-2 right-0 h-screen bg-[#ffffff] border-l border-[#EEF0FF] overflow-y-auto">
  <app-contact-header [conversation]="conversation"></app-contact-header>

  <div class="p-4 space-y-6">
    <app-contact-info [conversation]="conversation"></app-contact-info>
    
    <div class="h-2"></div>  <!-- Spacer -->
    
    <app-attributes-card
      [attributes$]="contactAttributes$"
      [loading$]="contactAttributesLoading$"
      [conversation]="conversation">
    </app-attributes-card>
    
    <div class="h-2"></div>  <!-- Spacer -->
    
    <app-tags-card
      [tags$]="contactTags$"
      [loading$]="contactTagsLoading$"
      [conversation]="conversation">
    </app-tags-card>
    
    <div class="h-4"></div>  <!-- Spacer -->
    
    <app-notes-card
      [notes$]="contactNotes$"
      [loading$]="contactNotesLoading$"
      [conversation]="conversation"
      [currentUser$]="currentUser$">
    </app-notes-card>
  </div>
</div>